@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(36, 35, 35);
}
body {
    margin: 0px;
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
}
.container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;

    
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.navbar {
  list-style: none;
}
.navbar li {
  display: inline-block;
  padding: 0px, 10px;

}
.navbar li a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  padding: 20px;
  transition: all 0.3s ease 0s;
  
}
.navbar li a:hover {
  color: rgb(69, 105, 15);
}

button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 80px;
  margin-left: 20px;
  color: aliceblue;
  padding: 9px;
  background-color: rgb(57, 87, 13);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgb(57, 87, 13, 0.8);
}

main {
    
    padding-top: 40px;
}



footer {
    
   

}





h1 {
    font-size: 120px;
    color:rgb(252, 255, 252);  
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
span {
    color: rgb(20, 100, 20);
    text-align: center;
}
p {
    font-size: 20px;
    color: rgb(255, 255, 255);  
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 50px;
}

.button-hover  {

  padding-left: 900px;
  margin-top: 50px;
}