* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
  
}
body {
    margin: 0px;
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
}
.container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;

    
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.navbar {
  list-style: none;
}
.navbar li {
  display: inline-block;
  padding: 0px, 10px;

}
.navbar li a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  padding: 20px;
  transition: all 0.3s ease 0s;
  
}
.navbar li a:hover {
  color: rgb(69, 105, 15);
}

button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 80px;
  margin-left: 20px;
  color: aliceblue;
  padding: 9px;
  background-color: rgb(57, 87, 13);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgb(57, 87, 13, 0.8);
}

main {
    
    height: 100%;
    text-align: center;
    padding-top: 40px;
    padding-left: 240px;
    padding-right: 240px;
    
}



footer {
    background-color: rgb(57, 87, 13);
    height: 100%; 
    color:  white;
    text-align: center;
    font-size: small;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}





h1 {
    font-size: 50px;
    color:rgb(20, 100, 20);  
    font-family: Arial, Helvetica, sans-serif;

}
span {
    color: rgb(20, 100, 20);
    text-align: center;
}
p {
    font-size: 12px;
    color: rgb(20, 100, 20);  
    font-family: Arial, Helvetica, sans-serif;
}

